<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Sprint : A Sprint of Sprints</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="./base.css" />

</head>

<body ng-app="main" layout-padding ng-controller="mainController as vm" ng-cloak>

    <md-content>
        <p> True Evil is rampant in the land. Arthur represents the future of Britain, a promise of prosperity and
            honor,
            yet hidden among his brave warriors are Mordred's unscrupulous miniona.</p>
        <p> The forces of Evil are few in number but have knowledge of each other and remain hidden from all but one
            of
            Arthur's servants. Merlin alone knows the agents of Evil, but he must speak of his only in riddles.If
            his
            true
            identity is discovered all will be lost.</p>

        <p>
            After all the players know their loyalty, the leader must ensure that all the Evil players know each
            other
            and
            that Merlin knows all the Evil players by repeating the following script:
        </p>
    </md-content>
    <div layout layout-align="space-around start">
        <md-content>
            <h2 class="md-headline">Loyal Servants of Arthur</h2>
            <md-list>
                <md-list-item ng-repeat="servant in vm.servants">{{servant}}</md-list-item>
            </md-list>
        </md-content>
        <md-content>
            <h2 class="md-headline">Minions of Mordred</h2>
            <md-list>
                <md-list-item ng-repeat="minion in vm.minions">{{minion}}</md-list-item>
            </md-list>
        </md-content>
    </div>
    <div>
        <h2 class="md-headline">Night Phase</h2>
        <md-list>
            <md-list-item ng-repeat="step in vm.steps">
                {{step}}
            </md-list-item>
        </md-list>
    </div>

</body>
<script src="./index.js">
</script>

</html>