<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Sprint : A Sprint of Sprints</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="./base.css" />

</head>

<body ng-app="main" layout-padding ng-controller="mainController as vm" ng-cloak>

    <md-content>
        <p>Sinister is rampant in the dev shop. Agile represents the future of software, a promise of
            productivity, yet hidden among the eager engineers are Nerlin's devious developers.
            These forces of Sinister are few in number but have knowledge of each other and
            remain hidden from all but one of the engineers. The Duke alone knows the agents of
            Sinister, but he must carefully hint at the truth. If his true identity is discovered all will
            be lost.
            </p>
        <p>
            After all the players know their squad, the TO must ensure that all the Sinister players
            know each other and the Duke knows all the Sinister players by repeating the
            following script:
        </p>
    </md-content>
    <md-toolbar class="md-toolbar-tools" layout-padding layout>
        <md-button ng-click="vm.start();">reshuffle</md-button>
        <md-button ng-click="vm.nextRound();">next round</md-button>
    </md-toolbar>
    <div layout="row" layout-align="space-around start">
        <div>
            <h2 class="md-headline"><md-icon>peope_outline</md-icon>Players</h2>
            <md-list>
                <md-list-item ng-repeat="player in vm.players">
                    <md-icon ng-show="player == vm.leader">label_important</md-icon>{{player.name}}&nbsp;{{player.reveal ? player.card.name : '' }}
                    <md-button ng-click="vm.castVote(player);"><md-icon>{{player.approve ? 'thumb_up' : 'thumb_down'}}</md-icon></md-button>
                    <md-button ng-click="vm.toggleTeam(player);"><md-icon>{{ player.included ? 'cancel' : 'person_add'}}</md-icon></md-button>
                </md-list-item>
            </md-list>
        </div>    
        <div>
            <h2 class="md-headline"><md-icon>group</md-icon>Team</h2>
            <md-list>
                <md-list-item ng-repeat="member in vm.team">{{member.name}}</md-list-item>
            </md-list>
        </div>         
    </div>
    <div>
        <md-button ng-click="vm.tabulateVotes();">Show Results</md-button>
        <p>Team was : {{vm.planningPoker ? 'approved': 'rejected'}}</p>
    </div>
    <div>
        <h2 class="md-headline">Night Phase</h2>
        <md-list>
            <md-list-item ng-repeat="step in vm.steps">
                {{step}}
            </md-list-item>
        </md-list>
    </div>

</body>
<script src="./index.js">
</script>

</html>